doctype html
head
    link(rel='stylesheet', href='libs.css')
    link(rel='stylesheet', href='styles.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500', rel='stylesheet', type='text/css')
body
    img.bg(src='../images/popup-300x120.jpg')
    a.beta(href='https://github.com/czers/tfs-code-review-extensions', target='_blank') Beta
    #divider_line
    .popup
        .stats
            .stats-line
                span.stats-label Pull requests in progress
                span.stats-value.pr-counter ?
            .stats-line
                span.stats-label New pull requests
                span.stats-value.new-pr-counter ...

        button.open-options.waves-effect.waves-light.btn.btn-flat(title='Go to Options') Options

    script(src='libs.js')
    script(src='scripts.js')
