doctype html
head
    title TFS Code Review Extensions | Options
    link(rel='stylesheet', href='libs.css')
    link(rel='stylesheet', href='styles.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400', rel='stylesheet', type='text/css')
body
    .page-container
        ul.collapsible(data-collapsible='expandable')
            li.active
                .collapsible-header.active
                    i.mdi.mdi-pencil
                    | Customization
                .collapsible-body.active
                    .feedback-link.center-align(action="#")
                        a(href='https://github.com/czers/tfs-code-review-extensions/issues')
                        em.no-settings No settings yet...
                        hr
                        | What you wish to be configurable?
                        br
                        button.feature-request-button.save-options.waves-effect.waves-light.light-green.darken-1.btn Request a feature
            li
                .collapsible-header
                    i.mdi.mdi-lightbulb-outline
                    | Not exactly random joke
                .collapsible-body
                    .center-align(action="#")
                        img.joke(src='http://www.cabird.com/wp/wp-content/uploads/2015/03/friendly-code-review.png')
            li
                .collapsible-header
                    i.mdi.mdi-flask
                    | Experimental features
                    .switch.section-switch
                        label
                            input(disabled='', type='checkbox')
                            span.lever

                .collapsible-body
                    form(action="#")
                        p
                            input#tracking-progress(type='checkbox', disabled='disabled')
                            label(for='tracking-progress') Tracking review progress (comming soon)
                        p
                            input#files-visibility(type='checkbox', disabled='disabled')
                            label(for='files-visibility') Files visibility (comming soon)
                        p
                            input#file-name-colors(type='checkbox', disabled='disabled')
                            label(for='file-name-colors') File name colors (comming soon)

    script(src='libs.js')
    script(src='scripts.js')
