doctype html
head
    link(rel='stylesheet', href='libs.css')
    link(rel='stylesheet', href='styles.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400', rel='stylesheet', type='text/css')
body
    .page-container
        ul.collapsible(data-collapsible='expandable')
            li.active
                .collapsible-header.active
                    i.mdi.mdi-pencil
                    | Customization
                .collapsible-body.active
                    form.center-align(action="#")
                        .row
                            .input-field.col.s6
                                input#kb_input(type='text')
                                label(for='kb_input') Keyboard shortcut
                            .input-field.col.s6
                                select.icons
                                    option(value='', selected='') Choose color
                                    option.left.circle(value='', data-icon='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAOklEQVR42u3OMQ0AMAgAsKFmphGBQ1BBwtEqaOSvfoeFoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKDgjgFehmH5yBxgRQAAAABJRU5ErkJggg==') Color 1
                                    option.left.circle(value='', data-icon='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAOklEQVR42u3OMQ0AMAgAsCFlpjGKAFBBwtEqaPysfoeFoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKDgjgEB02qRhi3AWQAAAABJRU5ErkJggg==') Color 2
                                    option.left.circle(value='', data-icon='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAOklEQVR42u3OMQ0AMAgAsGFv1pCFMFBBwtEqaGT9foeFoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKDgjgHtmGfB6UUkvgAAAABJRU5ErkJggg==') Color 3
                                label Select glow color
                        .row
                            .range-field.col.s12
                                label Adjust top offset [100 ~ 600px]
                                p
                                    input#test5(type='range', min='100', max='600', step='50', value='300')
            li
                .collapsible-header
                    i.mdi.mdi-flask
                    | Experimental features
                    .switch.section-switch
                        label
                            input(disabled='', type='checkbox')
                            span.lever

                .collapsible-body
                    form(action="#")
                        p
                            input#test1(type='checkbox', disabled='disabled')
                            label(for='test1') Experimental feature 1 (comming soon)
                        p
                            input#test2(type='checkbox', disabled='disabled')
                            label(for='test2') Experimental feature 2 (comming soon)
                        p
                            input#test3(type='checkbox', disabled='disabled')
                            label(for='test3') Experimental feature 3 (comming soon)

        .center-align
            button.save-options.waves-effect.waves-light.light-blue.darken-1.btn Save

    script(src='libs.js')
    script(src='scripts.js')
