doctype html
head
    title TFS File Review Status | Options
    link(rel='stylesheet', href='libs.css')
    link(rel='stylesheet', href='styles.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400', rel='stylesheet', type='text/css')
body
    .page-container
        .options-header.center-align
            | TFS File Review Status - Options
        ul.collapsible(data-collapsible='expandable')
            li.active
                .collapsible-header.active
                    i.mdi.mdi-pencil
                    | Customization
                .collapsible-body.active
                    .feedback-link.center-align(action="#")
                        em.no-settings No settings yet...
                        hr
                        | What you wish to be configurable?
                        br
                        a(href='https://github.com/czers/tfs-code-review-extensions/issues')
                            button.feature-request-button.save-options.waves-effect.waves-light.light-green.darken-1.btn Request a feature
            li
                .collapsible-header
                    i.mdi.mdi-lightbulb-outline
                    | Not exactly random joke
                .collapsible-body
                    .center-align(action="#")
                        img.joke(src='http://www.cabird.com/wp/wp-content/uploads/2015/03/friendly-code-review.png')

    script(src='libs.js')
    script(src='scripts.js')
