ul#tfs-cr-ext-icon-dropdown
    li(data-value='approved')
        span.tfs-cr-ext-icon.icon.bowtie-icon.bowtie-status-success
        | Approved
    li(data-value='none')
        span.tfs-cr-ext-icon.icon.bowtie-icon.bowtie-status-waiting
        | No response
    li(data-value='waiting')
        span.tfs-cr-ext-icon.icon.bowtie-icon.bowtie-math-minus-circle
        | Waiting for author
    li(data-value='rejected')
        span.tfs-cr-ext-icon.icon.bowtie-icon.bowtie-status-failure
        | Rejected
